.container {
	text-align: center;
}

#wit
{
	padding-top: 50px;
	padding-bottom: 50px;
}

#videos
{
	padding-top: 50px;
	padding-bottom: 50px;
}

#websites
{
	padding-top: 50px;
	padding-bottom: 50px;
}